/* Media query  mobile devices */
@media screen and (min-width: 320px) {
    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        margin: 0;
        overflow-y: scroll;
    }

    main {
        flex: 1;
        padding-bottom: 50px; /* Garante que o conteúdo tenha espaço suficiente antes do footer */
    }

    /*---Header e Nav--- */
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .logo {
        width: 150px;
    }

    nav ul li {
        padding: 10px;
        font-size: 1rem;
    }

    /*---Main Section (simplificar texto)--- */
    article .text-sonho {
        font-size: 2rem;
        margin: 20px 0px 0px 70px;
        text-align: center;
    }

    .estilo-text-sonho {
        font-size: 2.8rem;
    }

    article .nome, .nome-luffy {
        margin-left: 70px;
        font-size: 2.2rem;
        text-align: center;
    }

    article .nome-luffy {
        font-size: 3rem;
        padding: 20px 0 30px;
    }

    article .info {
        width: 290px;
        margin-left: 8%;
        font-size: 16px;
        line-height: 20px;
        font-weight: 500;
    }

    /*--- Footer e Botões ---*/
    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        width: 100%;
        position: relative;
        margin-top: 40px;
    }

    .botoes {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
        margin: 20px 0 0 35px; /* Adiciona espaçamento acima e abaixo dos botões */
        width: 100%;
        justify-content: center;
    }

    .botao img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }

    .botao {
        background: none;
        border: none;
        cursor: pointer;
        position: relative;
        top: 250px;
    }

    .botao:hover {
        transform: scale(1.1);
        transition: transform 0.3s ease-in-out;
    }
}

@media screen and (min-width: 360px){
    article .nome, .nome-luffy {
        margin-left: 85px;
    }

}

@media screen and (min-width: 380px){
    article .nome, .nome-luffy {
        margin-left: 95px;
    }

    article .info {
        margin-left: 14%;
    }

}

@media screen and (min-width: 420px){
    article .nome, .nome-luffy {
        margin-left: 105px;
    }

}

@media screen and (min-width: 425px) {

    article .text-sonho {
        font-size: 2.2rem;
    }

    .estilo-text-sonho {
        font-size: 3rem;
    }

    article .nome, .nome-luffy {
        font-size: 2.5rem;
    }  

    article .nome-luffy {
        font-size: 4rem;
    }
}

@media screen and (min-width: 440px) {
    
    article .text-sonho {
        font-size: 2.6rem;
        
    }

    .estilo-text-sonho {
        font-size: 3.3rem;
    }

    article .nome, .nome-luffy {
        font-size: 2.8rem;
        margin-left: 90px;
    }

    article .nome-luffy {
        font-size: 4rem;
    }

    .botao {
        top: 220px;
    }
}

@media screen and (min-width: 457px) {
    header nav ul li {
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 460px) {
    
    article .info {
            width: 320px;
            margin-left: 15%;
            font-size: 18px;
            line-height: 20px;
            font-weight: 500;
        }

    .botao {
        top: 190px;
    }
}


@media screen and (min-width: 480px) {
    
    .logo {
        width: 200px;
    }

    nav ul li {
        font-size: 1.2rem;
    }

    article .text-sonho {
        font-size: 3rem;
        
    }

    .estilo-text-sonho {
        font-size: 3.8rem;
    }

    article .nome, .nome-luffy {
        font-size: 3.5rem;
    }

    
    article .nome-luffy {
        font-size: 4.6rem;
    }
    
}