/* Media query mobile devices */
@media screen and (min-width: 320px) and (max-width: 480px) {
    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        margin: 0;
        overflow-y: scroll;
        align-items: center; /* Centraliza o conteúdo no eixo horizontal */
    }

    main {
        flex: 1;
        padding-bottom: 50px;
        width: 90%; /* Certifica que o main ocupe a largura total */
        display: flex;
        justify-content: center; /* Centraliza o conteúdo dentro do main */
    }

    /*---Header e Nav--- */
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        width: 100%; /* Certifica que o header ocupe a largura total */
        text-align: center; /* Centraliza o texto dentro do header */
    }

    .logo {
        width: 150px;
    }

    nav ul li {
        padding: 10px;
        font-size: 1.1rem;
       text-align: center; /* Centraliza o texto dentro dos itens de nav */
        margin-bottom: 20px;
    }

    /*---Main Section--- */
    article .text-sonho {
        font-size: 2rem;
        margin: auto; /* Centraliza horizontalmente */
        text-align: center; /* Centraliza o texto */
    }

    .estilo-text-sonho {
        font-size: 2.8rem;
        text-align: center; /* Centraliza o texto */
    }

    article .nome, .nome-luffy {
        font-size: 3rem;
        margin: 0 auto; /* Centraliza horizontalmente */
        text-align: center;
    }

    article .nome-luffy {
        font-size: 4rem;
        padding: 20px 0 30px;
        text-align: center;
    }

    article .info {
        width: 290px;
        margin: 0 auto; /* Centraliza horizontalmente */
        font-size: 16px;
        line-height: 20px;
        font-weight: 500;
        text-align: justify;
    }

    /*--- Footer e Botões ---*/
    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        width: 100%;
        position: relative;
        margin-top: 40px;
    }

    .botoes {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 5px;
        margin: 20px auto; /* Centraliza horizontalmente */
        width: 80%;
    }

    .botao img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }

    .botao {
        background: none;
        border: none;
        cursor: pointer;
        position: relative;
        top: 250px;
    }

    .botao:hover {
        transform: scale(1.1);
        transition: transform 0.3s ease-in-out;
    } 
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        margin: 0;
        overflow-y: scroll;
        align-items: center; /* Centraliza o conteúdo no eixo horizontal */
    }

    main {
        flex: 1;
        padding-bottom: 50px;
        width: 90%; /* Certifica que o main ocupe a largura total */
        display: flex;
        justify-content: center; /* Centraliza o conteúdo dentro do main */
    }

    /*---Header e Nav--- */
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        width: 100%; /* Certifica que o header ocupe a largura total */
        text-align: center; /* Centraliza o texto dentro do header */
    }

    .logo {
        width: 200px;
    }

    nav ul li {
        padding: 10px;
        font-size: 1.3rem;
       text-align: center; /* Centraliza o texto dentro dos itens de nav */
        margin-bottom: 20px;
    }

    /*---Main Section--- */
    article .text-sonho {
        font-size: 3.1rem;
        margin: auto; /* Centraliza horizontalmente */
        text-align: center; /* Centraliza o texto */
    }

    .estilo-text-sonho {
        font-size: 3.7rem;
        text-align: center; /* Centraliza o texto */
    }

    article .nome, .nome-luffy {
        font-size: 4rem;
        margin: 0 auto; /* Centraliza horizontalmente */
        text-align: center;
    }

    article .nome-luffy {
        font-size: 5rem;
        padding: 20px 0 30px;
        text-align: center;
    }

    article .info {
        width: 400px;
        margin: 20px auto; /* Centraliza horizontalmente */
        font-size: 18px;
        line-height: 20px;
        font-weight: 500;
        text-align: justify;
    }

    /*--- Footer e Botões ---*/

    button img {
        width: 70px;
        height: 70px;
    }

    footer .botoes {
        position: relative;
        bottom: 600px;
        margin-right: 40px; 
     }

    .botao:hover {
        transform: scale(1.1);
        transition: transform 0.3s ease-in-out;
    } 
}