@charset "UTF-8";
@import url(header.css);

:root {
    --font-frase:  font-family: "Roboto Slab", serif;
    --font-paragrafo: 

    --font-nome1: font-family: "Rajdhani", sans-serif;
    --font-nome2: font-family: "Lilita One", sans-serif;

}

/* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
*/