@charset "UTF-8";

:root {
    --font-frase: "Roboto Slab", serif;
    --font-nome1: "Bitter", serif;
    --font-nome2: "Lilita One", sans-serif;
    --color-primary: #ff3939;
    --color-secondary: #fd0000;
    --transition-speed: 0.5s;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    font-family: "Roboto", sans-serif;
    overflow-y: hidden;
}

/* Video de fundo */
.website-body {
    width: 100%;
    height: 100vh;
    position: relative;
    background: linear-gradient(to right, black); /* Gradiente escuro */
    color: white; /* Texto branco para contraste */
    z-index: 2;
}

.background-video {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 0;
    background-color: #000; /* Fallback se o vídeo não carregar */
}

.background-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;  
}

/* Cabeçalho da página */
header {
    display: flex;
    align-items: center;
    padding-top: 10px;
    margin: 0 auto;
    max-width: 700px;
    position: relative;
    z-index: 1;
}

.logo {
    width: 200px;
}

header nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    padding: 20px;
    font-size: 1.5rem;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-family: "Roboto", sans-serif;
    transition: color var(--transition-speed), border-bottom var(--transition-speed);
}

nav ul li a:hover {
    color: black;
    border-bottom: 1px solid black;
}

/* Main Section */
main {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}

article {
    width: 75vw;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
}

/* Estilos dos textos */
article .text-sonho {
    max-width: 500px;
    margin-left: 100px;
    font-family: var(--font-nome1);
    font-weight: 700;
    line-height: 1.1;
    font-size: 4.5rem;
    text-align: center;
    opacity: 0.7;
}

.estilo-text-sonho {
    font-size: 6rem;
    font-weight: 900;
}

article .nome, .nome-luffy {
    max-width: 400px;
    margin-left: 150px;
    font-family: var(--font-nome1);
    font-size: 5rem;
    font-weight: 200;
    line-height: 0.6em;
    padding-top: 20px;
    color: var(--color-primary);
}

.nome-luffy {
    font-family: var(--font-nome2);
    padding: 50px 0 60px;
    font-size: 11rem;
    color: var(--color-secondary);
}

.info {
    width: 400px;
    margin-left: 10%;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
}

/* Footer */
footer {
    height: 0px;
    background-color: #000;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    z-index: 1
}

footer ul li {
    list-style: none;
}

footer .botoes {
   position: relative;
   bottom: 580px;
   margin-right: 40px; 
}

button img {
    display: flex;
    border-radius: 50%;
    align-items: center;
}

.botao {
    background: none;
    border: none;
    margin: 10px 0px;
    border-radius: 50%;
    cursor: pointer;
}

.botao:hover {
    transition: 0.7s ease;
    transform: translateY(-20%)
}